<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
    <main class="dashboard" style="margin-top: 100px; ">
        <h1>
          Dashboard
        </h1>
        <section>
        <a href="formFechas">Crear Nueva Fecha</a>
        <a href="formFotos">Crear album de fotos</a>
        <a href="">Crear QR</a>
        </section>
    </main>

  </body>
  <%- include('../partials/scripts') %>
</html>
