<footer>
    <section class="menuFooter">
        <h3>Menu</h3>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Ingresa</a></li>
            <li><a href="">Registrate</a></li>
            <li><a href="">Fechas</a></li>
            <li><a href="">Fotos</a></li>
        </ul>
    </section>
    <section class="contacto">
   
        <h3>Datos de contacto</h3>
        <ul>
            <li><b>Direccioón:</b> Lorem ipsum dolor sit amet. 123</li>
            <li><b>Telefono:</b> +1451224443</li>
            <li><b>Email:</b> asasd@asdasd.com</li>

        </ul>

    </section>
   
    <section class="mapa">

        <iframe
        class="mapa"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1664.2300773144464!2d-70.71508053030131!3d-33.46336861950922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c483caed3d17%3A0x2117e18932ef4228!2sUpsala%205645%2C%209190359%20Santiago%2C%20Estaci%C3%B3n%20Central%2C%20Regi%C3%B3n%20Metropolitana%2C%20Chile!5e0!3m2!1ses!2sar!4v1711064145782!5m2!1ses!2sar"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>    
    <article>
        <p> © Copyright 2024 Club X | Desarrollado por WebDesign BsAs.</p>   
     </article>
     <div class="whatsapp">
        <a href="https://wa.me/51935507823?text=Hola%20Que tál!" class="whatsapp" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
        
      </div>
    </footer>
