<header>
    <img src="../../images/logo.png" alt="">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="">Ingresa</a></li>
        <li><a href="">Registrate</a></li>
        <li><a href="">Fechas</a></li>
        <li><a href="">Fotos</a></li>
    </ul>
    <article class="redes">
       <a href=""><i class="fa-brands fa-instagram"></i></a> 
       
    </article>
    <article class="barsMenu"><i class="fa-solid fa-bars"></i></article>
</header>