<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <main class="home">
      <article class="beneficios login">
        <h2 id="registro">Ingresar </h2>
       
        <form id="registro" method="post">
          <input type="text" name="identiicacion" id="identificacion " placeholder="Numero de identiicacion" />
          <input type="password" name="password" id="password placeholder="Contraseña" placeholder="Contraseña" />
          <button type="submit">Ingresar!</button>
        </form>
      </article>
    </main>

    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %>
  </body>
</html>
