<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <main class="todasLasFotos">
        <h1>
          Fotos
        </h1>
    </main>

    <%- include('./partials/footer') %>   
    <%- include('./partials/scripts') %>
  </body>
</html>
