<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <main class="home">
        <article class="beneficios register">
            <h2 id="registro">Registrate y obtene beneficios exclusivos</h2>
            <ul>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
                quasi architecto veritatis culpa quisquam? Molestiae, quam.
                Placeat doloribus aut pariatur?
              </li>
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. ?</li>
              <li>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus
                quasi architecto veritatis culpa quisquam? Molestiae, quam.
                Placeat doloribus aut pariatur?
              </li>
  
              <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
            </ul>
            <form id="registro"  method="post">
              <input type="text" name="nombre" id="nombre" placeholder="Nombre" />
              <input type="text" name="apellido" id="apellido" placeholder="Apelido" />
              <input type="email" name="email" id="email" placeholder="Email" />
              <input type="text" name="telefono" id="telefono" placeholder="Telefono" />
              <input
                type="text"
                name="identificacion"
                id="identificacion"
                placeholder="Numero de identicacion "
              />
              <input type="password" id="password" name="password" placeholder="Contraseña">
              <input type="password" id="password1" name="password1" placeholder="Repetir Contraseña">
              <button type="submit">Registrarme!</button>
            </form>
          </article>
        </section>
  
        
    </main>

    <%- include('./partials/footer') %> 
    <%- include('./partials/scripts') %>
  </body>
</html>
