<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <main class="todasLasFotos">
        <h1>
      Veriicado!!!
        </h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias cum laboriosam, facere voluptatum ad tempora, provident quas fugit, maiores aperiam nulla placeat officiis quasi recusandae? Provident nostrum ullam expedita sit magni error odio, et at minima eum odit dignissimos tempore cum delectus veniam fuga consectetur enim. Illo culpa repellendus, ab distinctio laudantium quidem odit. Nemo ipsa accusantium animi explicabo debitis aut blanditiis? Natus itaque perferendis voluptatum voluptas eum quaerat accusamus, eius dolorum dolore totam, assumenda quas saepe quam, nemo aliquid dolor. Repudiandae incidunt accusamus nobis animi cumque voluptate itaque in corporis praesentium, rerum impedit facere possimus modi autem. Magnam, impedit.</p>
    </main>

    <%- include('./partials/footer') %>   
    <%- include('./partials/scripts') %>
  </body>
</html>
