.dashboard{
    color: white;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    text-align: center;

}
.dashboard section  {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.418);
border-radius: 10px;
margin-top: 30px;
width: 50%;
display: flex;
flex-direction: column;
margin: 0 auto  ;

}
.dashboard section a {
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.formQr{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 50%;
    margin: 80px auto;
  }
  .formQr h2{
    text-align: center;
    color: aliceblue;
    padding: 10px;
  }
  .formQr input{
  padding: 10px;  border-radius: 5px;  
  margin: 10px;
  }
  .formQr button{
    padding: 10px;
    margin: 10px;
    background-color: #000000;
    color: white;
    border: 2px solid white;
    border-radius: 5px;  
  }
  .qrContainer{
    height: 80vh;
    width: 60vw;   
    margin: 10px auto
}
  
  .qrContainer .cardQr{
  
    background-color: #ffffff8f;
  
  }
  .cardQr{
    font-size: 20px;
    padding: 10px;
  }
  .cardQr li{
    line-height: 30px;
  }
  .estadoQr{
    font-size: 30px;
  }
  .botonCrear{
    margin-top: 15px;
    padding: 15px 20px;
    letter-spacing: 2px;
    font-size: 20px;
background-color: black;
color: white;
text-align: center;
  }
  @media (max-width: 768px) {
    .formQr{
  
      width: 80%;
   
     } }