.todasLasFotos{
    color:white;
   
}
.todasLasFotos h1{
    
    text-align: center;
    padding: 20px;

}
.todasLasFotos section{
    display: flex;
    justify-content: space-around;   
    width: 100%; 
    flex-wrap: wrap;
    padding: 30px;
}
.todasLasFotos section .card {
    margin: 20px;
width: 30%;
padding: 10px;
background-color: rgba(240, 248, 255, 0.425);
color: white;
}
.todasLasFotos section .card img{
    margin: 0 auto;
    width: 100%;
    }
.todasLasFotos section .card h2 {
    padding: 20px;
    text-align: center;
    }

 /* detalle */ 
 .fotosDetail{
    text-align: center;
    color: white;
    background-color: #00000067;
    margin: 0 150px;
 }
 .fotosDetail h1{
    margin: 100px 0 20px 0;
 }  
 .fotosDetail h1{
    margin-bottom: 10px
 }  
 .fotosDetail p{
    width: 80%;
    font-weight: 500;
    margin: 0 auto;
    font-size: 18px;
 }  
 .fotosDetail .allImg{
    display: flex;
    justify-content: space-between;
padding: 30px;
 }
 .fotosDetail .allImg img{
    margin: 20px;
 }