body {
  width: 100%; /* Ancho completo */
  height: 100vh; /* Altura de la ventana visible */
  background-image: url("../images/fondo.jpg"); /* Ruta de tu imagen */
  background-size: cover; /* Cubrir toda el área */
  background-position: center; /* Posición centrada */
  background-repeat: no-repeat; /* No repetir la imagen */
  background-attachment: fixed; /* Fija la imagen de fondo */
}
.home {
  padding: 0 150px;
  color: white;
}
.videoContainer {
  width: 60%;
  display: none;
  justify-content: center;
  margin: 0 auto;
  opacity: 0;
  transition: all 1s;
  padding: 50px 0;
  margin: 0 auto;
}

.contenido {
  margin-top: 50px;
  height: auto;
  background-color: #00000067;
}

.proximasFechas {

  width: 100%;
}
.beneficios h2, .fotos h2, .proximasFechas h2 {
  font-size: 25px;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 2px;
 padding: 20px 0;
 }
 .proximasFechas {
width: 100%;
 }
 .proximasFechas section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
   } 

.proximasFechas  section img{
  width: 100%;
  margin: 0 auto;
}



.aparecerVideo {
  opacity: 1;
}

.presentacion {
  text-align: center;

  opacity: 1;
  transition: all 1s;
}
.desaparecerPresentacion {
  height: 0;
  opacity: 0;
}
.presentacion h1 {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.presentacion p {
  height: 600px;
  letter-spacing: 3px;
  padding: 50px 200px;
  font-size: 25px;
  text-transform: uppercase;
  word-spacing: 5px;
  line-height: 50px;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff,
    0 0 20px #ffffff, 0 0 25px #ffffff, 0 0 30px #ffffff, 0 0 35px #ffffff; /* Efecto de resplandor blanco */

  /* Sombra del texto */
}

.beneficios {
  margin-top: 100px;
  display: flex;
  background-color: rgba(55, 6, 61, 0.575);
  border-radius: 10px;
  padding: 40px;
  flex-wrap: wrap;
}
.beneficios ul {
  width: 50%;
}
.beneficios h2 {
  width: 100%;
  text-align: center;
}
.beneficios ul li {
  padding: 20px;
  list-style: disc;
}
.beneficios form {
  width: 50%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
}
.beneficios form input {
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 5px;
}
.beneficios form button {
  padding: 16px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  letter-spacing: 1;
  transition: all 2s;
}
.beneficios form button:hover {
  letter-spacing: 3px;
  transition: all 2s;
}



.home .ultimasFotos{
  display: flex;
  justify-content: space-around;   
  width: 100%; 
  flex-wrap: wrap;
  padding: 30px;
}
.home .ultimasFotos .card {
  margin: 20px;
width: 30%;
padding: 10px;
background-color: rgba(240, 248, 255, 0.425);
color: white;
}
.home .ultimasFotos .card img{
  margin: 0 auto;
  width: 100%;
  }
.home .ultimasFotos .card h2 {
  padding: 20px;
  text-align: center;
  }



/* Mobile */
@media (max-width: 768px) {
  body {
    width: 100%; /* Ancho completo */
    height: 100vh; /* Altura de la ventana visible */
    background-image: url("../images/fondo.jpg"); /* Ruta de tu imagen */
    background-size: cover; /* Cubrir toda el área */
    background-position: center; /* Posición centrada */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-attachment: fixed; /* Fija la imagen de fondo */
  }
  .home {
    padding: 0 10px;
    color: white;
  }

  .contenido {
    height: auto;
    margin-top: 0;
    background-color: #00000067;
  }

  .proximasFechas,
  .fotos {
    padding: 20px;
  }

  .proximasFechas h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .fotos h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 50px;
  }

  .videoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    opacity: 0;
    transition: all 1s;
    padding: 50px 0;
    margin: 0 auto;
  }
  .aparecerVideo {
    opacity: 1;
  }

  .presentacion {
    text-align: center;
    opacity: 1;
    transition: all 1s;
  }
  .desaparecerPresentacion {
    height: 0;
    opacity: 0;
  }
  .presentacion h1 {
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .presentacion p {
    height: 600px;
    letter-spacing: 3px;
    padding: 15px;
    font-size: 18px;
    text-transform: uppercase;
    word-spacing: 5px;
    line-height: 40px;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff,
      0 0 20px #ffffff, 0 0 25px #ffffff, 0 0 30px #ffffff, 0 0 35px #ffffff; /* Efecto de resplandor blanco */

    /* Sombra del texto */
  }
  .beneficios {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgba(55, 6, 61, 0.575);
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
  }
  .beneficios ul {
    width: 90%;

    list-style: circle !important;
  }
  .beneficios h2, .fotos h2, .proximasFechas h2 {
   font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0;
  }
  .beneficios ul li {
   letter-spacing: 2px;
    padding: 10px;
  
  }
  .beneficios form {
    width: 100%;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
  }
  .beneficios form input {
    margin-bottom: 10px;
    padding: 16px;
    border-radius: 5px;
  }
  .beneficios form button {
    padding: 16px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    letter-spacing: 1;
    transition: all 2s;
    border:2px solid #ffffff;
    box-shadow: 0 0 5px white;
    margin-bottom: 50px;
  }
  .beneficios form button:hover {
    letter-spacing: 3px;
    transition: all 2s;
  }
  
}
